<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<title>Преподаватели</title>
</head>

<body>

	<div class="container">

		<h3>Преподаватели</h3>
		<hr>
		<div>
			<a th:href="@{/teacher/showFormForAdd}"
				class="btn btn-primary btn-sm mb-3"> Добавить преподавателя </a> <a
				th:href="@{/teacher/export/excel}"
				class="btn btn-primary btn-sm mb-3"> XLSX </a> <a
				th:href="@{/teacher/export/pdf}" class="btn btn-primary btn-sm mb-3">
				PDF </a>
		</div>
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Имя</th>
					<th>Фамилия</th>
					<th>Отчество</th>
					<th>Преподаваемые дисциплины</th>

					<th>Действие</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="tempTeacher : ${teachers}">

					<!--  <td> <a th:href="@{'/discipline/list/'+${tempTeacher.name}}">[[${tempTeacher.name}]]</a></td> -->
					<td th:text="${tempTeacher.name}" />
					<td th:text="${tempTeacher.surname}" />
					<td th:text="${tempTeacher.patronymic}" />
					<td th:text="${tempTeacher.disciplines}" />
					<td><a
						th:href="@{/teacher/showFormForUpdate (teacherId=${tempTeacher.id})}"
						class="btn btn-info btn-sm">Обновить</a> <a
						th:href="@{/teacher/delete (teacherId=${tempTeacher.id})}"
						class="btn btn-danger btn-sm"
						onclick="if (!(confirm('Удалить?'))) return false">Удалить</a></td>

				</tr>
			</tbody>
		</table>
		<div>
			Всего: [[${totalItems}]]
			<ul class="pagination">
				<span th:each="i: ${#numbers.sequence(1, totalPages)}">
					<li class="page-item"><a class="page-link"
						th:href="@{'/teacher/list/'+${i}}">[[${i}]]</a></li>
				</span>

			</ul>
		</div>

		<hr>
		<a th:href="@{/}">В главное меню</a>

	</div>
</body>
</html>



