<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<title>Сохранить кафедру</title>
</head>

<body>
	<div class="container">
		<h3>Кафедры</h3>
		<hr>

		<p class="h4 mb-4">Сохранить кафедру</p>

		<form action="#" th:action="@{/department/save}" th:object="${department}"
			method="POST">
			<input type="text" th:field="*{name}" class="form-control mb-4 col-4"
				placeholder="Название">
			<select class="form-control selectpicker mb-4 col-4" th:field="*{faculty}" name="facultyId">
								<option th:each="tempFaculty : ${faculties}"
                                th:value="${tempFaculty.id}"
                                th:text="${tempFaculty.name}">
                        </option>
						</select>

			<button type="submit" class="btn btn-info col-2">Сохранить</button>
		</form>
		<hr>
		<a th:href="@{/department/list}">К списку кафедр</a>
	</div>
</body>

</html>